/* CSS Document */
#aboutUsImageContainer{
	position:relative;
	height:40%;
	width:inherit;
	min-height:310px;
}
#aboutUsImageCrossFade{
   position:absolute;
   display: none;
   width: 100%;
   height: 100%;

   background:url(../img/about/aboutBanner1.jpg) no-repeat center center scroll;
   background-size:cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
}
#aboutUsImage{
   position:absolute;
   width: 100%;
   height: 100%;

   background:url(../img/about/aboutBanner1.jpg) no-repeat center center scroll;
   background-size:cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   overflow: hidden;
}

#progressbar{
   position: absolute;
   bottom: 0px;
   height: 6px;
   width: 100%;
}
.ui-progressbar-value {
   height: 100%;
   background-color: #1fcecb;
}

#aboutCarry{
	position:relative;
	width:inherit;
	padding-top:30px;
	text-align:center;	
}
#aboutCarryTitle{
	font-family:"Quattrocento-Regular", sans-serif;
	font-size:20px;
}
#aboutCarry p{
	margin:0px 300px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;	
	letter-spacing:1px;
}
#featuresSet1{
	position:relative;
	padding-top:30px;
	min-height:150px;
}
.feature{
	position:relative;
	text-align:center;	
}
#feature1{
	float:left;
	width:50%;
}
#feature2{
	float:right;
	width:50%;
}
.feature span{
	font-family:"Quattrocento-Regular", sans-serif;
	font-size:19px;
	letter-spacing:1px;	
}
.feature p{
	margin:0px 30px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;	
	letter-spacing:1px;	
}
#featuresSet2{
	display:block;
	position:relative;
	min-height:140px;	
}
#feature3{
	float:left;
	width:50%;
}
#feature4{
	float:right;
	width:50%;
}
#bottomBanner{	
   position:relative;
   top:30px; 
   height:40%;
   width:100%;
   min-height:275px;
   margin-bottom:60px;	
}
#bottomBannerPost1{	
   position:absolute;
   height:100%;
   width:30%;
   background:url(../img/tumblr_mpoblcUVoI1s76vt0o1_1280.jpg) no-repeat scroll center center;   
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;	
}
#bottomBannerPost2{
   position:absolute;
   height:100%;
   left:35%;
   width:30%;
   background:url(../img/b9ffc5ec6de09f5a32f71c7751b27a7a.jpg) no-repeat scroll center center;  
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;  
}
#bottomBannerPost3{
   position:absolute;
   height:100%;
   left:70%;
   width:30%;
   background:url(../img/tumblr_midljk8fTL1qcmfnio1_500.jpg) no-repeat scroll center center; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;		
}
.meetUsText{
   position:absolute;
   margin-left:20%;
   margin-right:20%;
   width:60%;
   top:50%;
   margin-top:-68px;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   text-align:center;
}