/* CSS Document */
#aboutUsImage{
	position:relative;
	height:40%;
	width:inherit;
	background:url(../img/b9ffc5ec6de09f5a32f71c7751b27a7a.jpg) no-repeat center center scroll;
	background-size:cover;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
	min-height:310px;
}
#aboutCarry{
	position:relative;
	width:inherit;
	padding-top:30px;
	text-align:center;	
}
#aboutCarryTitle{
	font-family:"Quattrocento-Regular", sans-serif;
	font-size:20px;
}
#aboutCarry p{
	margin:0px 300px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;	
	letter-spacing:1px;
}
#featuresSet1{
	position:relative;
	padding-top:30px;
	height:150px;
}
.feature{
	position:relative;
	text-align:center;	
}
#feature1{
	float:left;
	width:50%;
}
#feature2{
	float:right;
	width:50%;
}
.feature span{
	font-family:"Quattrocento-Regular", sans-serif;
	font-size:19px;
	letter-spacing:1px;	
}
.feature p{
	margin:0px 30px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;	
	letter-spacing:1px;	
}
#featuresSet2{
	display:block;
	position:relative;
	height:140px;	
}
#feature3{
	float:left;
	width:50%;
}
#feature4{
	float:right;
	width:50%;
}