#aboutUsTextContainer{
	margin-top:3%;
	width:70%;
	font-family:"Cantarell-Bold", sans-serif;
	font-size:14px;	
	color:#666;
}
#aboutUsTextContainer h3{
	padding-bottom:8px;
	font-family:"Cantarell-Bold", sans-serif;
	font-size:18px;	
	color:#666;
}