#aboutUsTextContainer{
	margin-top:3%;
	margin-left:7%;
	width:70%;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;	
	color:#666;
}
#aboutUsTextContainer h3{
	padding-bottom:8px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:18px;	
	color:#666;
}
#copyrightText {
	margin-left:7%;
}
#footerIcons{
	margin-right:4.5%;	
}