/* CSS Document */
#upperContent{
	position:relative;
	width:100%;
	min-height:450px;
	border-bottom:1px solid #999;
	border-top:1px solid #999;	
}
.bigContactText{
	font-family:"Quattrocento-Regular", sans-serif;
	font-size:16px;
	letter-spacing:1px;		
}
.smallContactText{
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;
	line-height:20px;
	font-weight:550;		
}
#storeInfo{
	position:absolute;
	width:40%;
	height:100%;	
}
#storeInfoContainer{
	float:right;
	width:50%;
	height:100%;
	min-width:250px;
}
#storeHours{
	position:relative;
	left:5%;
	height:50%;
	width:90%;
	text-align:center;	
}
#locationInfo{
	position:relative;
	left:15%;
	height:50%;
	width:70%;
	text-align:center;
}
#inquires{
	position:absolute;
	left:60%;
	width:40%;
	height:100%;	
}
#inquiresContainer{
	position:relative;
	left:0%;
	height:100%;
	width:56%;
	float:left;
	text-align:center;		
}
.formTextBox{
	height:50px;
	border:none;
	background-color:rgba(31,206,203,.2);
	border-radius:15px;
	padding:0px 15px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:16px;		
}
.formButton{
	border:none;
	width:80px;	
	height:50px;
	background-color:rgb(31,206,203);
	border-radius:15px;
	color:white;
	font-family:"Cantarell-Regular", sans-serif;	
}
#inquiryFormEmail{
	width:88%;	
	margin-bottom: 4px;
}
#inquiryFormQuestion{
	width:88%;
	height:110px;
	border:none;
	background-color:rgba(31,206,203,.2);
	border-radius:15px;
	padding:15px 15px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:16px;
	line-height:21px;
	overflow:hidden;
	resize:none;
}
#inquiryFormButton{
	float:right;
	margin-top:5px;	
}
label{
	font-family:"Quattrocento-Regular", sans-serif;	
	font-size:12px;
	display:inline-block;		
}
#inquiresResponse{
	position:relative;
	width:100%;
	display:none;
	font-family: "Cantarell-Regular", sans-serif;
	font-size: 14px;	
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#000;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

#lowerContent{
	position:relative;
	top:30px;
	width:100%;	
	min-height:250px;
}
.lowerContentInnerDiv{
	position:absolute;
	width:33.33%;
	height:100%;
	text-align:center;	
	font-family:"Cantarell-Regular", sans-serif;
	font-size:16px;		
}
#mapContainer{
	border-right:1px dotted black;
}
#socialIconContainer{
	left:33.33%;	
	border-right:1px dotted black;
}
#signUpFormContainer{
	left:66.67%;	
}
#map{	
	position:relative;
	width:100%;
	left:15%;
	width:70%;
	height:205px;
	background:url(../img/map.jpg) no-repeat scroll center center;  
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#socialIcons{	
	position:relative;
	width:100%;
	left:15%;
	width:70%;		
}
#socialIcons img{	
	padding-right:5px;
	height:45px;
	width:45px;
}
.lowerContentSmallText{
	font-family:"Quattrocento-Regular", sans-serif;	
	font-size:14px;	
}
#signUp{
}
#formMailContainer{
	width:100%;
	height:50px;	
}
#signUpFormEmail{
	margin:0px;
	font-size:14px;
	display:inline;
	padding-right:35px;
	font-family: "Quattrocento-Regular", sans-serif;
}
#signFormButton{
	position:absolute;
	top: 69px;
	margin-left: 76px;
	float:right;	
}
#signUpFormText{
	position:relative;
	left:15%;
	width:70%;
	line-height:24px;	
}
#signUpResponse{
	margin-top:-65px;
	position:relative;
	left:15%;
	width:70%;
	font-family: "Quattrocento-Regular", sans-serif;
	font-size: 14px;
	display:none;		
}


