/* CSS Document */
#upperContent{
	position:relative;
	width:100%;
	min-height:410px;
	border-bottom:1px solid #999;
	border-top:1px solid #999;	
}
.bigContactText{
	font-family:"Quattrocento-Regular", sans-serif;
	font-size:16px;
	letter-spacing:1px;		
}
.smallContactText{
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;
	line-height:20px;
	font-weight:550;		
}
#storeInfo{
	position:absolute;
	width:40%;
	height:100%;	
}
#storeInfoContainer{
	float:right;
	width:50%;
	height:100%;
	min-width:250px;
}
#storeHours{
	position:relative;
	left:5%;
	height:50%;
	width:90%;
	text-align:center;	
}
#locationInfo{
	position:relative;
	left:15%;
	height:50%;
	width:70%;
	text-align:center;
}
#inquires{
	position:absolute;
	left:60%;
	width:40%;
	height:100%;	
}
#inquiresContainer{
	position:relative;
	left:0%;
	height:100%;
	width:56%;
	float:left;
	text-align:center;		
}
#inquiryFormEmail{
	width:88%;
	height:45px;
	border:none;
	background-color:rgba(31,206,203,.2);
	border-radius:15px;
	padding:0px 15px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:16px;
}
#inquiryFormEmail:focus{
	border:none;	
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#000;
}
textarea:focus, input:focus{
    outline: 0;
}

