/* ---- MANAGE PAGES ---- */

#managePages{
   position: relative;
   margin-top:12%;
   margin-left:8%;
   width:auto;
   font-family:"Cantarell-Regular", sans-serif;
   font-size:16px;
   letter-spacing:2px;
   color:#1fcecb;
}

#managePages div span{
   border-bottom: 1px solid #1fcecb;
   padding-bottom: 4px;
   font-style: italic;
}

#managePages ul {
   padding: 0px;
   margin: 0px;

   margin-top: 5%;
}

#managePages ul li a {
   color: rgb(102, 102, 102);
   border: 1px solid #1fcecb;
   border-radius: 5px;
   padding: 5px;
}

#managePages ul li {
   padding: 0px;
   margin: 0px 10px;
   list-style-type: none;
   float: left;
}

.buttons{
   position: relative;
   margin-top: 5%;
   margin-left: 4%;
}

.buttons a{
   color: rgb(102, 102, 102);
   border: 1px solid #1fcecb;
   border-radius: 5px;
   padding: 5px;
   margin-right: 10px;
}

/* ---- VIEW PRODUCTS ---- */

#productTable {
   margin-top: 2%;
   margin-left: 4%;
}

#productTable tr td {
   text-align: center;
   height: 40px;
}
#productTable tr td img {
   display: inline-block;
   height: 100%;
}
#productTable tr td a {
   color: blue;
   text-decoration: underline;
}

/* ---- ADD A PRODUCT ---- */

#addForm {
   position: relative;
   margin-top: 5%;
   margin-left: 4%;
   width: 40%;
   border: 1px solid #1fcecb;
   border-radius: 5px;
   padding: 2%;
}

label {
   font-family: "Cantarell-Regular", sans-serif;
   color: #1fcecb;
   display: block;
   width: 35%;
   float: left;
   text-align: right;
   margin-right: 7px;
}
input {
   float: left;
   padding-right: 0px;
}
input[type="submit"] {
   margin-top: 5px;
   margin-left: 21%;
}
select{
   width: 140px;
}

#addForm form div {
   overflow:auto;
}
#addForm form div img {
   height: 60px;
   margin-left: 60%;
}

/* ---- ADD/REMOVE DEPARTMENTS ---- */
#departmentTable{
   margin-top: 4%;
   margin-left: 6%;
}
#departmentTable tr td a{
   color: blue;
   text-decoration: underline;
}

/* ---- ADD/REMOVE DESIGNERS ---- */
#designerTable{
   margin-top: 4%;
   margin-left: 6%;
}
#designerTable tr td a{
   color: blue;
   text-decoration: underline;
}
#footer{
	display:none;	
}