
.departmentLine{
	position:relative;
	width:93%;
	height:210px;
	margin-top:4%;	
	margin-left:7%;
	padding-bottom:60px;
}
.departmentCont{
	position:absolute;
	height:inherit;
	width:20%;	
	background-color:#f6f6f6;
	padding-top:10px;		
}
.productName{
/*	padding-top:40px;*/	
	padding-bottom:10px;
	width:100%;
	text-align:center;
	background-color:#FFF;
	font-family:"Cantarell-Bold", sans-serif;
	font-size:14px;
}
.productCategory{	
	width:100%;
	text-align:center;
	background-color:#FFF;	
/*	padding-bottom:10px;*/
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;
	color:#1fcecb;	
}
.productPrice{	
	width:100%;
	text-align:center;
	background-color:#FFF;		
	padding-bottom:3px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;
	color:#1fcecb;
}
.department1Cont{
	left:0%;
}
.department2Cont{
	left:25%;
}
.department3Cont{
	left:50%;
}
.department4Cont{
	left:75%;
}
.departmentImage{
	width:100%;
	height:100%;
	margin-bottom:15px;
}
#department1Image{	
	background:url(../img/products/Paige/paige04.png) no-repeat center center;
	background-size:contain;	
}
#department2Image{
	background: url(../img/products/julesAndJim/Dress.png) no-repeat center center;
	background-size:contain;	
}
#department3Image{
	background:url(../img/products/Ripe/bowTieTop.png) no-repeat center center;
	background-size:contain;	
}
#department4Image{
	background: url(../img/products/mamaMio/mama07.png) no-repeat center center;
	background-size:contain;	
}
#department5Image{
	background: url(../img/products/MCoat/mCoat02.png) no-repeat center center;
	background-size:contain;	
}
#department6Image{
	background: url(../img/products/Bravado/bravado2.png) no-repeat center center;
	background-size:contain;	
}
#department7Image{
	background: url(../img/products/bellyBandit/bellyBanditBFF.png) no-repeat center center;
	background-size:contain;	
}
#department8Image{
	background: url(../img/products/queenMum/queen07.png) no-repeat center center;
	background-size:contain;	
}
.departmentName{
	padding-top:5px;	
	padding-bottom:10px;
	width:100%;
	text-align:center;
	background-color:#FFF;
	font-family:"Cantarell-Bold", sans-serif;
	font-size:14px;
}
.departmentCategory{	
	width:100%;
	text-align:center;
	background-color:#FFF;	
	padding-bottom:10px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;
	color:#1fcecb;	
}
/*.departmentPrize{	
	width:100%;
	text-align:center;
	background-color:#FFF;		
	padding-bottom:3px;
	font-family:"Cantarell-Regular", sans-serif;
	font-size:14px;
	color:#1fcecb;
}*/
#copyrightText {
	margin-left:7%;
}
#footerIcons{
	margin-right:4.5%;	
}

.departmentPageLine{
	position:relative;
	width:93%;
	height:215px;
	margin-top:4%;
	margin-left:7%;
	padding-bottom:10%;	
}
#departmentPage1Image1{
	background: url(../img/products/JBrand/jBrand1.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage1Image2{
	background: url(../img/products/Noppies/nop06.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage1Image3{
	background: url(../img/products/Noppies/nop07.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage1Image4{
	background: url(../img/products/oceanLily/OL01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage1Image5{
	background: url(../img/products/Paige/paige01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage1Image6{
	background: url(../img/products/Paige/paige02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage1Image7{
	background:url(../img/products/Paige/paige03.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage1Image8{
	background: url(../img/products/Paige/paige04.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage1Image9{
	background: url(../img/products/Paige/paige05.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage1Image10{
	background:url(../img/products/Paige/paige07.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image1{
	background: url(../img/products/carryMaternity/carry05.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image2{
	background: url(../img/products/carryMaternity/carry06.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image3{
	background: url(../img/products/carryMaternity/carry07.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image4{
	background: url(../img/products/carryMaternity/carry08.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image5{
	background: url(../img/products/carryMaternity/carry10.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image6{
	background: url(../img/products/carryMaternity/carry11.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image7{
	background: url(../img/products/carryMaternity/carry12.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image8{
	background: url(../img/products/Ripe/circles.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image9{
	background: url(../img/products/julesAndJim/Dress.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image10{
	background: url(../img/products/julesAndJim/Dress2.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image11{
	background: url(../img/products/julesAndJim/Dress3.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image12{
	background: url(../img/products/julesAndJim/Dress4.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image13{
	background: url(../img/products/Ripe/floral.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image14{
	background: url(../img/products/maternalAmerica/mat03.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image15{
	background: url(../img/products/queenMum/queen06.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image16{
	background: url(../img/products/Noppies/nop02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image17{
	background: url(../img/products/queenMum/queen02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image18{
	background:url(../img/products/queenMum/queen03.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image19{
	background: url(../img/products/queenMum/queen04.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image20{
	background: url(../img/products/Seraphine/sera01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image21{
	background: url(../img/products/Seraphine/sera02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image22{
	background: url(../img/products/Seraphine/sera03.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage2Image23{
	background: url(../img/products/Seraphine/sera04.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image1{
	background: url(../img/products/Ripe/bowTieTop.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image2{
	background: url(../img/products/carryMaternity/carry09.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image3{
	background: url(../img/products/Ripe/colour.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image4{
	background: url(../img/products/maternalAmerica/mat04.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image5{
	background: url(../img/products/maternalAmerica/mat05.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image6{
	background: url(../img/products/maternalAmerica/mat08.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image7{
	background: url(../img/products/Noppies/nop01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image8{
	background: url(../img/products/Noppies/nop04.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image9{
	background: url(../img/products/queenMum/queen01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image10{
	background: url(../img/products/queenMum/queen08.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image11{
	background: url(../img/products/julesAndJim/Top.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image12{
	background: url(../img/products/julesAndJim/Top2.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image13{
	background: url(../img/products/julesAndJim/Top3.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image14{
	background: url(../img/products/julesAndJim/Top4.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage3Image15{
	background: url(../img/products/maternalAmerica/mat02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image1{
	background: url(../img/products/queenMum/queen07.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image2{
	background: url(../img/products/carryMaternity/carry01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image3{
	background: url(../img/products/carryMaternity/carry02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image4{
	background: url(../img/products/carryMaternity/carry03.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image5{
	background: url(../img/products/carryMaternity/carry04.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image6{
	background: url(../img/products/Ripe/leather.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image7{
	background: url(../img/products/Noppies/nop07.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image8{
	background: url(../img/products/Paige/paige07.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image9{
	background: url(../img/products/queenMum/queen05.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image10{
	background: url(../img/products/queenMum/queen07.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage4Image11{
	background: url(../img/products/queenMum/queen09.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage5Image1{
	background: url(../img/products/carryMaternity/carry13.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage5Image2{
	background: url(../img/products/MCoat/mCoat01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage5Image3{
	background: url(../img/products/MCoat/mCoat02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage5Image4{
	background: url(../img/products/Noppies/nop05.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage5Image5{
	background: url(../img/products/queenMum/queen10.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image1{
	background: url(../img/products/Belabumbum/bella1.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image2{
	background: url(../img/products/Belabumbum/bella2.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image3{
	background: url(../img/products/Bravado/bravado2.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image4{
	background: url(../img/products/Bravado/bravado3.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image5{
	background: url(../img/products/cakeLingerie/cake1.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image6{
	background: url(../img/products/cakeLingerie/cake2.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image7{
	background: url(../img/products/maternalAmerica/mat06.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image8{
	background: url(../img/products/Boob/Ntop.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image9{
	background: url(../img/products/Boob/Ntop2.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image10{
	background: url(../img/products/Boob/Ntop3.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image11{
	background: url(../img/products/Boob/Ntop4.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image12{
	background: url(../img/products/Nneka/standard.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage6Image13{
	background: url(../img/products/Nummies/style1.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image1{
	background: url(../img/products/bellaBand/bellaBand.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image2{
	background: url(../img/products/bellyBandit/bellyBandit.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image3{
	background: url(../img/products/flatterMeBelts/flatter1.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image4{
	background: url(../img/products/soYoung/khaki_charlie_01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image5{
	background: url(../img/products/mothersChoice/moth01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image6{
	background: url(../img/products/mothersChoice/moth02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image7{
	background: url(../img/products/oceanLily/OL02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image8{
	background: url(../img/products/Seraphine/sera05.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image9{
	background: url(../img/products/Spanx/spanx02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage7Image10{
	background: url(../img/products/Nneka/standard.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage8Image1{
	background: url(../img/products/mamaMio/mama01.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage8Image2{
	background: url(../img/products/mamaMio/mama02.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage8Image3{
	background: url(../img/products/mamaMio/mama03.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage8Image4{
	background: url(../img/products/mamaMio/mama04.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage8Image5{
	background: url(../img/products/mamaMio/mama05.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage8Image6{
	background: url(../img/products/mamaMio/mama06.png) no-repeat center center;
	background-size:contain;	
}
#departmentPage8Image7{
	background: url(../img/products/mamaMio/mama07.png) no-repeat center center;
	background-size:contain;	
}
/*@media(max-width : 1024px){
.productLine {
	height:90px;
}
.productName {
	font-size:7px;
	padding-top:6%;
}
.productCategory {
	font-size:7px;
	line-height:8px;
}
.productPrice {
	font-size:7px;
}
}*/
@media(max-width : 640px){
.departmentLine {
	height:90px;
	padding-bottom:25px;
}
.departmentPageLine {
	height:80px;
	margin-top:4%;
	padding-bottom:15%;
}
.departmentImage {
	margin-bottom:6%;
}
.departmentName {
	font-size:7px;
	padding-top:6%;
}
.productName {
	font-size:6px;
	padding-bottom:0px;
}
.departmentCategory {
	font-size:6px;
	line-height:8px;
}
.departmentCont {
	padding-top:0px;
}
.productCategory {
	font-size:6px;
	line-height:8px;
}
.productPrice {
	font-size:6px;
}
}