
.designerLine{
	position:relative;
	width:93%;
	height:215px;
	margin-top:4%;
	margin-left:7%;
	padding-bottom:60px;
}
.designerCont{
	position:absolute;
	height:inherit;
	width:20%;	
	background-color:#f6f6f6;
	padding-top:30px;		
}
.designer1Cont{
	left:0%;
}
.designer2Cont{
	left:25%;
}
.designer3Cont{
	left:50%;
}
.designer4Cont{
	left:75%;
}
.designerImage{
	width:100%;
	height:180px;
	margin-bottom:15px;
}
#designer1Image{	
	background:url(../img/designers/Belabumbum.jpg) no-repeat center center;
	background-size:contain;	
}
#designer2Image{
	background: url(../img/designers/bellaband.png) no-repeat center center;
	background-size:contain;	
}
#designer3Image{
	background: url(../img/designers/BellyBandit.png) no-repeat center center;
	background-size:contain;	
}
#designer4Image{
	background: url(../img/designers/boob.png) no-repeat center center;
	background-size:contain;	
}
#designer5Image{
	background: url(../img/designers/bravadoDesigns.png) no-repeat center center;
	background-size:contain;	
}
#designer6Image{
	background: url(../img/designers/cakeLingerie.png) no-repeat center center;
	background-size:contain;	
}
#designer7Image{
	background: url(../img/designers/carryMaternity.png) no-repeat center center;
	background-size:contain;	
}
#designer8Image{
	background: url(../img/designers/flatterMe.png) no-repeat center center;
	background-size:contain;	
}
#designer9Image{
	background: url(../img/designers/jBrand.png) no-repeat center center;
	background-size:contain;	
}
#designer10Image{
	background: url(../img/designers/julesAndJim.png) no-repeat center center;
	background-size:contain;	
}
#designer11Image{
	background: url(../img/designers/MAMAMIO.png) no-repeat center center;
	background-size:contain;	
}
#designer12Image{
	background: url(../img/designers/maternalAmerica.png)  no-repeat center center;
	background-size:contain;	
}
#designer13Image{
	background: url(../img/designers/mcoat.png) no-repeat center center;
	background-size:contain;	
}
#designer14Image{
	background: url(../img/designers/motherschoice.jpg) no-repeat center center;
	background-size:contain;	
}
#designer15Image{
	background: url(../img/designers/nneka.png)no-repeat center center;
	background-size:contain;	
}
#designer16Image{
	background: url(../img/designers/noppies.png) no-repeat center center;
	background-size:contain;	
}
#designer17Image{
	background: url(../img/designers/nummies.jpg) no-repeat center center;
	background-size:contain;	
}
#designer18Image{
	background: url(../img/designers/oceanlilly.jpg) no-repeat center center;
	background-size:contain;	
}
#designer19Image{
	background: url(../img/designers/Paige.png) no-repeat center center;
	background-size:contain;	
}
#designer20Image{
	background: url(../img/designers/queenMum.png) no-repeat center center;
	background-size:contain;	
}
#designer21Image{
	background: url(../img/designers/ripeMaternity.png) no-repeat center center;
	background-size:contain;	
}
#designer22Image{
	background: url(../img/designers/seraphine.png) no-repeat center center;
	background-size:contain;	
}
#designer23Image{
	background: url(../img/designers/soYoung.png) no-repeat center center;
	background-size:contain;	
}
#designer24Image{
	background: url(../img/designers/spanx.jpg) no-repeat center center;
	background-size:contain;	
}
.designerPageLine{
	position:relative;
	width:93%;
	height:215px;
	margin-top:4%;
	margin-left:7%;
	padding-bottom:60px;	
}
#designerPage1Image1{
	background: url(../img/products/Belabumbum/bella1.jpg)  no-repeat center center;
	background-size:contain;	
}
#designerPage1Image2{
	background: url(../img/products/Belabumbum/bella2.jpg)  no-repeat center center;
	background-size:contain;	
}
#designerPage1Image3{
	background: url(../img/products/Belabumbum/bella3.jpg)  no-repeat center center;
	background-size:contain;	
}
#designerPage2Image1{
	background: url(../img/products/Bellaband/bellaBand.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage3Image1{
	background: url(../img/products/Belly%20Bandit/Belly%20Bandit%20BFF.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage3Image2{
	background: url(../img/products/Belly%20Bandit/bellyBandit.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage4Image1{
	background:url(../img/products/Boob/Ntop4.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage4Image2{
	background: url(../img/products/Boob/Ntop.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage4Image3{
	background: url(../img/products/Boob/NTop2.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage4Image4{
	background: url(../img/products/Boob/Ntop3.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage5Image1{
	background:url(../img/products/Bravado/bravado1.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage5Image2{
	background: url(../img/products/Bravado/bravado2.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage5Image3{
	background: url(../img/products/Bravado/bravado3.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage6Image1{
	background: url(../img/products/Cake%20Lingerie/cake1.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage6Image2{
	background: url(../img/products/Cake%20Lingerie/cake2.png) no-repeat center center;
	background-size:contain;	
}
#designerPage6Image3{
	background: url(../img/products/Cake%20Lingerie/cake3.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image1{
	background: url(../img/products/Carry%20Maternity/carry01.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image2{
	background: url(../img/products/Carry%20Maternity/carry02.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image3{
	background: url(../img/products/Carry%20Maternity/carry03.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image4{
	background: url(../img/products/Carry%20Maternity/carry04.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image5{
	background: url(../img/products/Carry%20Maternity/carry05.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image6{
	background: url(../img/products/Carry%20Maternity/carry06.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image7{
	background: url(../img/products/Carry%20Maternity/carry07.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image8{
	background: url(../img/products/Carry%20Maternity/carry08.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image9{
	background: url(../img/products/Carry%20Maternity/carry09.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image10{
	background: url(../img/products/Carry%20Maternity/carry10.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image11{
	background: url(../img/products/Carry%20Maternity/carry11.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image12{
	background: url(../img/products/Carry%20Maternity/carry12.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage7Image13{
	background: url(../img/products/Carry%20Maternity/carry13.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage8Image1{
	background: url(../img/products/Flatter%20Me%20Belts/flatter1.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage9Image1{
	background: url(../img/products/JBrand/jBrand1.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage10Image1{
	background: url(../img/products/Jules%20and%20Jim/Dress.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage10Image2{
	background: url(../img/products/Jules%20and%20Jim/Dress2.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage10Image3{
	background: url(../img/products/Jules%20and%20Jim/Dress3.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage10Image4{
	background: url(../img/products/Jules%20and%20Jim/Dress4.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage10Image5{
	background: url(../img/products/Jules%20and%20Jim/Top.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage10Image6{
	background: url(../img/products/Jules%20and%20Jim/Top2.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage10Image7{
	background: url(../img/products/Jules%20and%20Jim/Top3.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage10Image8{
	background: url(../img/products/Jules%20and%20Jim/Top4.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage11Image1{
	background: url(../img/products/Mama%20Mio/mama01.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage11Image2{
	background: url(../img/products/Mama%20Mio/mama02.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage11Image3{
	background: url(../img/products/Mama%20Mio/mama03.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage11Image4{
	background: url(../img/products/Mama%20Mio/mama04.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage11Image5{
	background: url(../img/products/Mama%20Mio/mama05.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage11Image6{
	background: url(../img/products/Mama%20Mio/mama06.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage11Image7{
	background: url(../img/products/Mama%20Mio/mama07.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage12Image1{
	background: url(../img/products/Maternal%20America/mat01.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage12Image2{
	background: url(../img/products/Maternal%20America/mat02.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage12Image3{
	background: url(../img/products/Maternal%20America/mat03.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage12Image4{
	background: url(../img/products/Maternal%20America/mat04.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage12Image5{
	background: url(../img/products/Maternal%20America/mat05.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage12Image6{
	background: url(../img/products/Maternal%20America/mat06.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage12Image7{
	background: url(../img/products/Maternal%20America/mat07.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage12Image8{
	background: url(../img/products/Maternal%20America/mat08.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage13Image1{
	background: url(../img/products/MCoat/mCoat01.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage13Image2{
	background: url(../img/products/MCoat/mCoat02.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage13Image3{
	background: url(../img/products/MCoat/mCoat03.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage14Image1{
	background: url(../img/products/Mothers%20Choice/moth01.png) no-repeat center center;
	background-size:contain;	
}
#designerPage15Image1{
	background: url(../img/products/Nneka/standard.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage16Image1{
	background: url(../img/products/Noppies/nop01.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage16Image2{
	background: url(../img/products/Noppies/nop02.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage16Image3{
	background: url(../img/products/Noppies/nop03.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage16Image4{
	background: url(../img/products/Noppies/nop04.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage16Image5{
	background: url(../img/products/Noppies/nop05.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage16Image6{
	background: url(../img/products/Noppies/nop06.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage16Image7{
	background: url(../img/products/Noppies/nop07.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage17Image1{
	background: url(../img/products/Nummies/style1.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage18Image1{
	background: url(../img/products/Ocean%20Lilly/OL01.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage18Image2{
	background: url(../img/products/Ocean%20Lilly/OL02.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage19Image1{
	background: url(../img/products/Paige/paige01.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage19Image2{
	background: url(../img/products/Paige/paige02.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage19Image3{
	background:  url(../img/products/Paige/paige03.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage19Image4{
	background:  url(../img/products/Paige/paige04.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage19Image5{
	background:  url(../img/products/Paige/paige05.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage19Image6{
	background:  url(../img/products/Paige/paige06.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage19Image7{
	background:  url(../img/products/Paige/paige07.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image1{
	background: url(../img/products/Queen%20Mum/queen01.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image2{
	background: url(../img/products/Queen%20Mum/queen02.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image3{
	background: url(../img/products/Queen%20Mum/queen03.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image4{
	background: url(../img/products/Queen%20Mum/queen04.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image5{
	background: url(../img/products/Queen%20Mum/queen05.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image6{
	background: url(../img/products/Queen%20Mum/queen06.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image7{
	background: url(../img/products/Queen%20Mum/queen07.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image8{
	background: url(../img/products/Queen%20Mum/queen08.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image9{
	background: url(../img/products/Queen%20Mum/queen09.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage20Image10{
	background: url(../img/products/Queen%20Mum/queen10.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage21Image1{
	background: url(../img/products/Ripe/bowTieTop.png) no-repeat center center;
	background-size:contain;	
}
#designerPage21Image2{
	background: url(../img/products/Ripe/circles.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage21Image3{
	background: url(../img/products/Ripe/colour.png) no-repeat center center;
	background-size:contain;	
}
#designerPage21Image4{
	background: url(../img/products/Ripe/floral.png) no-repeat center center;
	background-size:contain;	
}
#designerPage21Image5{
	background: url(../img/products/Ripe/leather.png) no-repeat center center;
	background-size:contain;	
}
#designerPage22Image1{
	background: url(../img/products/Seraphine/sera01.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage22Image2{
	background: url(../img/products/Seraphine/sera02.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage22Image3{
	background:url(../img/products/Seraphine/sera03.jpeg) no-repeat center center;
	background-size:contain;	
}
#designerPage22Image4{
	background: url(../img/products/Seraphine/sera04.jpg) no-repeat center center;
	background-size:contain;	
}
#designerPage22Image5{
	background: url(../img/products/Seraphine/sera05.jpg) center center;
	background-size:contain;	
}
#designerPage23Image1{
	background: url(../img/products/So%20Young/khaki_charlie_01.jpg) center center;
	background-size:contain;	
}
#designerPage24Image1{
	background:  url(../img/products/Spanx/spanx02.png) center center;
	background-size:contain;	
}
#copyrightText {
	margin-left:7%;
}
#footerIcons{
	margin-right:4.5%;	
}
