
.designerLine{
	position:relative;
	width:93%;
	height:215px;
	margin-top:4%;
	margin-left:7%;
	padding-bottom:60px;
}
.designerCont{
	position:absolute;
	height:inherit;
	width:20%;	
	background-color:#f6f6f6;
	padding-top:30px;		
}
.designer1Cont{
	left:0%;
}
.designer2Cont{
	left:25%;
}
.designer3Cont{
	left:50%;
}
.designer4Cont{
	left:75%;
}
.designerImage{
	width:100%;
	height:180px;
	margin-bottom:15px;
}
#designer1Image{	
	background:url(../img/designers/bellaband.png) no-repeat center center;
	background-size:contain;	
}
#designer2Image{
	background: url(../img/designers/boob.png) no-repeat center center;
	background-size:contain;	
}
#designer3Image{
	background: url(../img/designers/bravadoDesigns.png) no-repeat center center;
	background-size:contain;	
}
#designer4Image{
	background: url(../img/designers/cakeLingerie.png) no-repeat center center;
	background-size:contain;	
}
#designer5Image{
	background: url(../img/designers/carryMaternity.png) no-repeat center center;
	background-size:contain;	
}
#designer6Image{
	background: url(../img/designers/isabellaOliver.jpg) no-repeat center center;
	background-size:contain;	
}
#designer7Image{
	background: url(../img/designers/jBrand.png) no-repeat center center;
	background-size:contain;	
}
#designer8Image{
	background: url(../img/designers/julesAndjim.png) no-repeat center center;
	background-size:contain;	
}
#designer9Image{
	background: url(../img/designers/maternalAmerica.png) no-repeat center center;
	background-size:contain;	
}
#designer10Image{
	background: url(../img/designers/noppies.png) no-repeat center center;
	background-size:contain;	
}
#designer11Image{
	background: url(../img/designers/oiOiLogo.png) no-repeat center center;
	background-size:contain;	
}
#designer12Image{
	background: url(../img/designers/olianLogo.jpg) no-repeat center center;
	background-size:contain;	
}
#designer13Image{
	background: url(../img/designers/paigeDenim.png) no-repeat center center;
	background-size:contain;	
}
#designer14Image{
	background: url(../img/designers/petuniaPickleBottom.png) no-repeat center center;
	background-size:contain;	
}
#designer15Image{
	background: url(../img/designers/queenMum.png) no-repeat center center;
	background-size:contain;	
}
#designer16Image{
	background: url(../img/designers/ripeMaternity.png) no-repeat center center;
	background-size:contain;	
}
#designer17Image{
	background: url(../img/designers/seraphine.png) no-repeat center center;
	background-size:contain;	
}
#designer18Image{
	background: url(../img/designers/soYoung.png) no-repeat center center;
	background-size:contain;	
}
#designer19Image{
	background: url(../img/designers/theMCoat.png) no-repeat center center;
	background-size:contain;	
}
#designer20Image{
	background: url(../img/designers/placeHolder.jpg) no-repeat center center;
	background-size:contain;	
}
#copyrightText {
	margin-left:7%;
}
#footerIcons{
	margin-right:4.5%;	
}
