
.productLine{
	position:relative;
	width:93%;
	height:315px;
	margin-top:4%;
	margin-left:7%;	
	padding-bottom:60px;
}
.productCont{
	position:absolute;
	height:inherit;
	width:20%;	
	background-color:#f6f6f6;
	padding-top:30px;		
}
.product1Cont{
	left:0%;
}
.product2Cont{
	left:25%;
}
.product3Cont{
	left:50%;
}
.product4Cont{
	left:75%;
}
.productImage{
	position:relative;
	width:100%;
	height:75%;
	margin-bottom:15px;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat; 
	background-attachment: scroll;
	cursor: pointer;
}
#product1Image{	
	background:url(../img/essentials/essential01.jpg) no-repeat center center;
	background-size:contain;	
}
#product2Image{
	background:url(../img/essentials/essential02.jpg) no-repeat center center;
	background-size:contain;	
}
#product3Image{
	background: url(../img/essentials/essential03.jpg) no-repeat center center;
	background-size:contain;	
}
#product4Image{
	background: url(../img/essentials/essential04.jpg) no-repeat center center;
	background-size:contain;	
}
#product5Image{
	background: url(../img/essentials/essential05.jpg) no-repeat center center;
	background-size:contain;	
}
#product6Image{
	background:url(../img/essentials/essential06.jpg) no-repeat center center;
	background-size:contain;	
}
#product7Image{
	background:url(../img/essentials/essential07.jpg) no-repeat center center;
	background-size:contain;	
}
#product8Image{
	background:url(../img/essentials/essential08.jpg) no-repeat center center;
	background-size:contain;	
}
#product9Image{
	background:url(../img/essentials/essential09.jpg) no-repeat center center;
	background-size:contain;	
}
#product10Image{
	background:url(../img/essentials/essential10.png) no-repeat center center;
	background-size:contain;	
}
#product11Image{
	background:url(../img/essentials/essential11.jpg) no-repeat center center;
	background-size:contain;	
}
#product12Image{
	background:url(../img/essentials/essential12.jpg) no-repeat center center;
	background-size:contain;	
}
.productName{
	padding-top:20px;	
	padding-bottom:10px;
	width:100%;
	text-align:center;
	background-color:#FFF;
	font-family:"Cantarell-Bold", sans-serif;
	font-size:14px;
}
.productCategory{	
	width:100%;
	text-align:center;
	background-color:#FFF;	
	padding-bottom:10px;
	font-family:"Cantarell-Bold", sans-serif;
	font-size:14px;
	color:#1fcecb;	
}
.productPrice{	
	width:100%;
	text-align:center;
	background-color:#FFF;		
	padding-bottom:3px;
	font-family:"Cantarell-Bold", sans-serif;
	font-size:14px;
	color:#1fcecb;
}
#copyrightText {
	margin-left:7%;
}
#footerIcons{
	margin-right:4.5%;	
}
