/* ---- STYLING BANNERS ----*/
.banner{
   margin-top: 3%;
   margin-right:2%;
   overflow: hidden;
}
#topBanner{
   background-color: #f3f3f4;
/*   background: url(../img/banner/Family.jpg) center 59% scroll;*/
   height: 30%;
}
#middleBanner{
   margin-top: 3%;
   background-color: #333;
   background: url(../img/banner/Family.jpg) center 59% scroll;
   background-size: cover;
   height: 25%;
}
#bottomBanner{
   margin-top: 3%;
   background-color: #f4f1cf;
   height: 25%;
}
.underline {
   border-bottom:1px solid black;
   padding-bottom:2px;
}

/* ---- TOP BANNER ---- */
#topBannerPhoto{
   position: relative;
   height: 100%;
   width: 100%;
/*   float: left;*/
   text-align: left;
}
#topBannerPhoto img{
   height: 80%;
   min-height:160px;
   margin-top: 4%;
}
#topBannerText{
   position: absolute;
   /*width: 50%;*/
/*   top:50%;*/
   margin-top: 16px;
   margin-left: 50px;
   /*float: left;*/
   text-align: center; 
   font-size: 18px;
   letter-spacing: 1px;
   font-family: "Cantarell-Regular";
/*   line-height: 40px; */  
}
#topBannerText #italicTitle{
   font-family: "Baskerville-Italic";
   font-size: 36px;
   font-style: normal;
   letter-spacing:6px;
}
#cantarell{
   font-family: "Cantarell-Regular";
   font-size: 28px;
   letter-spacing:1px;
}

/* ---- MIDDLE BANNER ---- */
#middleBannerText {
	position:relative;
	top:50%;
    color: white;
    letter-spacing: 2px;
    margin-left: 50px;
    margin-top:-60px;
    font-size: 23px;
}
#middleBannerText p {
   margin:0px;
}
#lowerMiddleBannerText {
   margin-top: 1% !important;
   font-family: "Cantarell-Regular";
   font-size: 18px;
}
#lowerMiddleBannerText span{
   margin-left: 35px;
   letter-spacing:2px;
}

/* ---- BOTTOM BANNER ---- */
#bottomBannerPhoto{
   position: relative;
   height: 100%;
   width: 40%;
   float: left;
   text-align: center;
}
#bottomBannerPhoto img {
   margin-top: 5%;
   height: 80%;
}
#bottomBannerText{
   position: relative;
   top:50%;
   margin-top:-58px;
   height: 100%;
   width: 60%;
   float: left;
   text-align: center;
}
#bottomBannerText p{
   font-family: "Cantarell-Regular";
   font-size: 20px;
   letter-spacing: 5px;
   color:#333;
}
