/* ---- STYLING BANNERS ----*/
.banner{
   width: 97.5%;
   margin-top: 2.5%;
   margin-left: 2.5%;
   overflow: hidden;
}
#topBanner{
   background-color: #eee;
   height: 250px;
}
#middleBanner{
   background-color: #333;
   background: url(../img/banner/Family.jpg) center 59% scroll;
   background-size: cover;
   height: 175px;
}
#bottomBanner{
   background-color: #eee;
   height: 175px;
}
.underline {
   border-bottom:1px solid black;
   padding-bottom:2px;
}

/* ---- TOP BANNER ---- */
#topBannerPhoto{
   position: relative;
   height: 100%;
   width: 50%;
   float: left;
   text-align: center;
}
#topBannerPhoto img{
   height: 80%;
   min-height:160px;
   margin-top: 4%;
}
#topBannerText{
   position: relative;
   width: 50%;
   top:50%;
   margin-top:-85px;
   float: left;
   text-align: center; 
   font-size: 22px;
   letter-spacing: 6px;
   font-family: "Baskerville-Italic";
   line-height: 40px;   
}
#bold{
   font-family: "Cantarell-Bold";
   font-size: 36px;
   font-style: normal;
   letter-spacing:0px;
}
#cantarell{
   font-family: "Cantarell-Regular";
   font-size: 28px;
   letter-spacing:1px;
}

/* ---- MIDDLE BANNER ---- */
#middleBannerText {
	position:relative;
	top:50%;
   color: white;
   letter-spacing: 2px;
   margin-left: 50px;
   margin-top:-60px;
   font-size: 26px;
}
#middleBannerText p {
   margin:0px;
}
#lowerMiddleBannerText {
   margin-top: 1%!important;
   font-family: "Cantarell-Regular";
   font-size: 18px;
}
#lowerMiddleBannerText span{
   margin-left: 35px;
   letter-spacing:2px;
}

/* ---- BOTTOM BANNER ---- */
#bottomBannerPhoto{
   position: relative;
   height: 100%;
   width: 40%;
   float: left;
   text-align: center;
}
#bottomBannerPhoto img {
   margin-top: 5%;
   height: 80%;
}
#bottomBannerText{
   position: relative;
   top:50%;
   margin-top:-58px;
   height: 100%;
   width: 60%;
   float: left;
   text-align: center;
}
#bottomBannerText p{
   font-family: "Cantarell-Regular";
   font-size: 20px;
   letter-spacing: 5px;
}
