#pageContent {
   margin-left: 2%;
}
h1{
   font-family: "Cantarell-Regular", sans-serif;
   color: #1fcecb;
   margin-left: 30px;
}
label {
   font-family: "Cantarell-Regular", sans-serif;
   color: #1fcecb;
   display: block;
   width: 40%;
   float: left;
   text-align: right;
   margin-right: 7px;
}
input {
   float: left;
   padding-right: 0px;
}
input[type="submit"] {
   float: right;
   margin-top: 5px;
   margin-right: 5%;
}

#loginForm form div {
   overflow:auto;
}
#loginForm {
   margin-top: 20%;
   margin-left: 25%;
   width: 30%;
   border: 1px solid #1fcecb;
   border-radius: 5px;
   padding-right: 3%;
   padding-bottom: 2%;
}

