ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}
#photoCont{
   position: relative;
   margin-top: 2%;
   height: 60%;
   width: 80%;
}
.photo{
   display: none;
   margin-left:9%;
   margin-top:9%;
   height: 100%;
   width: 100%;
   background-attachment: scroll;
   background-position: left top;
   background-repeat: no-repeat;
}
#photo1  { background-image: url(../img/lookbook/look01.jpg); background-size: contain; display: block; }
#photo2  { background-image: url(../img/lookbook/look02.jpg); background-size: contain;}
#photo3  { background-image: url(../img/lookbook/look03.jpg); background-size: contain;}
#photo4  { background-image: url(../img/lookbook/look04.jpg); background-size: contain;}
#photo5  { background-image: url(../img/lookbook/look05.jpg); background-size: contain;}
#photo6  { background-image: url(../img/lookbook/look06.jpg); background-size: contain;}
#photo7  { background-image: url(../img/lookbook/look07.jpg); background-size: contain;}
#photo8  { background-image: url(../img/lookbook/look08.jpg); background-size: contain;}
#photo9  { background-image: url(../img/lookbook/look09.jpg); background-size: contain;}
#photo10 { background-image: url(../img/lookbook/look10.jpg); background-size: contain;}
#photo11 { background-image: url(../img/lookbook/look11.jpg); background-size: contain;}

#photoSelector{
   position: relative;
   margin-top: 40px;
   margin-left:7%;
}
/*#photoSelector ul {
   
}*/
#photoSelector ul li {
   list-style: none;
   float: left;
   margin: 0px 5px;
   padding: 0px 2px;
   font-family:"Cantarell-Regular", sans-serif;
   font-size:18px;
   letter-spacing:2px;
   color:#1fcecb;
}
#photoSelector ul li span{
   border-bottom-width: 0px;
   border-bottom-style: solid;
   border-bottom-color: #1fcecb;
   padding-bottom: 4px;
   cursor: pointer;
}
#photoSelector ul #photoSelector1 span{
   border-bottom-width: 1px;
}
#footer{
	margin-top:10%;	
}