body {
	background-color:#fff;	
	min-width:1200px;	
	overflow:auto;		
}
#header {
	position:relative;
	margin-left:10%;
	margin-right:10%;
	min-width:1040px;
}
#logoImg {
	width:130px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}
#nav{
	position:relative;
	width:100%;
	padding-top:10px;
	top:-35px;	
}
#nav ul{
	list-style-type:none;
	padding:0px;
	font-family:"gotham-medium", sans-serif;
	font-size:13px;
}
#nav ul li{
	float:left;	
}
.liPaddingLeft{
	padding-left:40px;	
}
.liPaddingRight{
	padding-right:40px;	
}
#navLeft{
	float:left;	
}
#navRight{
	float:right;
	right:-20px;	
}
#pageContent{
	position:relative;
	margin-left:10%;
	margin-right:10%;
	margin-top:30px;
}
#welcomeBanner{
	position:relative;
	height:50%;
	width:100%;
	background: url(../img/topImage2.jpg) no-repeat scroll center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:310px;
}
#welcomeBannerText{
	position:absolute;
	width:55%;
	top:50%;
	text-align:center;
	margin-top:-150px;	
}
#updatesBanner{
	position:relative;	
	height:40%;
	width:100%;
	min-height:275px;
}
#newArrivals{
	position:absolute;
	height:100%;
	width:30%;
	background:url(../img/tumblr_mpoblcUVoI1s76vt0o1_1280.jpg) no-repeat scroll center center;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;;
}
#updates{
	position:absolute;
	height:100%;
	left:35%;
	width:30%;
	background:url(../img/b9ffc5ec6de09f5a32f71c7751b27a7a.jpg) no-repeat scroll center center;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;			
}
#blog{
	position:absolute;
	height:100%;
	left:70%;
	width:30%;
	background:url(../img/tumblr_midljk8fTL1qcmfnio1_500.jpg) no-repeat scroll center center;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.updatesBannerText{
	position:relative;
	margin-left:20%;
	margin-right:20%;
	top:50%;
	margin-top:-80px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	text-align:center;
	padding:15px;
	min-height:125px;
}
h3{
	font-family:"Quattrocento-Regular", sans-serif;
	font-size:22px;
	color:white;
	font-weight:normal;	
	margin:0px;
}
h5{
	font-family:"gotham-medium", sans-serif;
	font-size:15px;
	color:white;
	font-weight:normal;
	margin:0px;
	margin-bottom:15px;	
}
a{
	color:#999;;
}
	hr.style-two { border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); }