html { height: 100%; width: 100%;}
body {
	background-color:#fff;	
	min-width:1200px;
	min-height:600px;	
	overflow:auto;	
	height:100%;
	width: 100%;
	margin:0px;
	padding:0px;
}
h3{
	font-family:"Quattrocento-Regular", sans-serif;
	font-size:20px;
	color:white;
	font-weight:normal;	
	margin:0px;
}
h4{
	font-family:"Cantarell-Bold", sans-serif;
	font-size:16px;
	color:white;
	font-weight:normal;
	margin:0px;
	margin-bottom:15px;	
}
h5{
	font-family:"Cantarell-Regular", sans-serif;
	font-size:16px;
	color:white;
	font-weight:normal;
	margin:0px;
	margin-bottom:15px;	
}
a{
	color:white;
	text-decoration: none;
}
#navLogoContainer{
	position:relative;
	width:17%;
	float:left;	
	background-color:#1fcecb;	
	height:100%;
	margin-left:2%;
}
#pageContent{
	position:relative;
	float: left;
	height:100%;
	margin-left:2.5%;	
	width:78%;
	overflow-y: auto;
}
#pageTitle{
	width:auto;
	font-family:"Cantarell-Bold", sans-serif;
	font-size:16px;
	letter-spacing:2px;
 	color:#1fcecb;
 	margin-top: 2%;
}
#pageTitle span{
	border-bottom: 1px solid #1fcecb;
	padding-bottom: 4px;	
}
#logoCont{
	margin-left:5%;
	width:90%;
	height:auto;
	margin-top:10%;	
}
#logoCont img{
	width:90%;
	margin-left:6%;
	cursor:pointer;
}
#navCont{
	position:relative;
	height: auto;
	margin-top: 50%;
	width:100%;	
	text-align:center;
	color:white;
}
#navCont ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
	width:100%;
	font-family:"Cantarell-Bold", sans-serif;
	font-size:14px;
}
#navCont ul li{
	cursor:pointer;	
	margin-top:10px;
}
#navCont ul li span{
	padding-top:5px;
	padding-bottom:5px;	
}
#loginLogout{
	position: absolute;
	bottom: 3%;
	width: 100%;
	height: auto;
	text-align: center;
	font-family:"Cantarell-Regular", sans-serif;
	color: white;
}
#footer{
	margin-left:2.5%;
	margin-top:2.5%;
	width:100%;	
}
